@import url('https://fonts.cdnfonts.com/css/minecraft-4');

.pixeltext {
  font-family: 'Minecraft', sans-serif;
}

.avatar{
  height: 7em;
  position: relative;
  left: -5px;
}

.avcard {
  width: 100%;
  height: auto;
  box-shadow: 5px 4px 3px rgb(204, 204, 204);
  transition: transform 0.2s cubic-bezier(0.4,0,0.2,1), background-color 0.2s, box-shadow 0.2s cubic-bezier(0.4,0,0.2,1);
}

.avcard:hover{
  transform: translate(-4px, -3px);
  box-shadow: 9px 7px 3px rgb(204, 204, 204);
  background-color: lightblue;
}

.cntr{
  margin: 5% auto;
  max-width: 500px;
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .cntr {
    max-width: 98vw;
    margin: 2% auto;
    padding: 0 2vw;
  }
}

.holder{
  position: absolute;
  height: 10em;
  opacity: 80%;
  top: 0px;
  left: 0px;
}

.points{
  position:absolute;
  left: 110px;
  top: 37px;
  font-size: 8mm;
}

.nametag{
  position:absolute;
  left: 110px;
  top: 77px;
  font-size: 9mm;
}

.sfida{
  margin-top: 1em;
  font-size: 7mm;
}

.cornice{
  width:100%;
}

.cornice-wrapper {
  width: fit-content;
  position: relative;
}

.testo-cornice {
  color: #4f4f4f; /* Cambia colore se serve */
  font-size: 1.3em;
  position: absolute;
  top: 50px;
  left: 5px;
}

.bonus{
  color: green;
}

.malus{
  color: red;
}

.leadbtn{
  margin-top: 9em;
}